
# sjg this zeroes out bootsrtap defaults

.column_left {
	height: 520px;
	border: thin dashed;
}

.column_centre {
	height: 540px;
	border: thin dashed;
}

.column_right {
	height: 550px;
	border: thin dashed;
}

.row_top {
	background: #3f3f3f;
	color: #000000;
	border: thin dashed;
}

.row_middle {
	background: #cccccc;	
	border: thin dashed;
}

.row_bottom {
	height: 180px;
	background: #3f3f3f;
	border: thin dashed;
}


#menu-outer {
	height: 84px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}
	
ul#horizontal-list li {
	display: inline;
}

.button_location {
	float: left;
	margin: 5px;
}

.button_grid_list {
	margin: 5px;
	float: right;
}

.logo {
	margin-top: 5px;
	margin-right: 5px;
}

.big_logo {
	position: relative;
	left: 5%;
	top: 25px;
}

.centre_image {
	position: relative;
   left: 10%;
   top: 40%;
   
}

.table_people {
	position: relative;
	left: 40%;
}


.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */


.person {
	position: relative
}

.person-image {
	position: relative;
	width: 80px;
	height: 80px;
}



.image-up {
	top: -15px;
}

.person-text {
	color: white;
	font-size: 12pt;
	left: 0;
	position: absolute;
    text-align: center;
	top: 40px;
	width: 100%;
}

.person-editor {
	width: 20px;
	height: 20px;
	background: red;
	position:relative;
	right: 20px;
	top: 0px;
}



.list_person {
	position: relative
}

.list_person_image {
	position: static;
	width: 80px;
	height: 80px;
}

.list_person_image-up {
	top: -15px;
}

.list_person_text {
	color: green;
	font-size: 12pt;
/* 	left: 0;
	position: absolute;
	top: 40px;
	width: 100%;
 */
}




.content {
}

.hidden {
	display: none;
}
 
.phone {
	height: 700px;
	width: 450px;
}

.theme_starwars {
	background: url("/static/themes/starwars/images/background.png");	
	height: 600px;
	overflow: scroll;
}

.theme_basic {
	background: url("/static/themes/basic/images/background.png");	
	height: 600px;
	overflow: scroll;
}

.theme_tinkerbell {
	background: url("/static/themes/tinkerbell/images/background.png");	
	height: 600px;
	overflow: scroll;
}

.subcontent_phone_container {
}

#content_phone {
	
}

.phone_cell_grid {
  text-align: center;
}

.phone_cell_list {
//  text-align: center;
}

img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*
            .sidebar-nav {	
	padding: 9px 0;
}

.container-fluid {
	padding: 0px;
}

.navbar-fixed-top {
	margin-bottom: 0px;
}

.bottom-row-pills {
	margin-bottom: 0px;
}

body {
   padding-top: 60px;
   padding-bottom: 40px;
 }

.sidebar-nav {
   padding: 9px 0;
}
    
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}



*/