html, body {
    /* height: 100%;
    width: 100%;  */
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.entry_title {
    font-weight: bold;
}

.entry_date {
    font-weight: bold;
}

